.container {
    .grid {
        display: grid;
        box-sizing: content-box;
        &.vertical-grid {
            grid-template-columns: unset;
            grid-auto-columns: auto;
            grid-auto-flow: column;
        }
    }
    .row {
        margin: 0 -20px;
        &.no-margin {
            margin: 0;
        }
    }
    &.container-fluid {
        .row {
            margin: 0 -30px;
            &.no-margin {
                margin: 0;
            }
        }
    }
}

@for $cols from 1 through 20 {
    .grid {
        &.grid-#{$cols} {
            & > :not([class*="col"]) {
                grid-column: span $cols
            }
            grid-template-columns: repeat($cols, 1fr);
            &.vertical-grid {
                grid-template-rows: repeat($cols, 1fr);
            }
            & .row {
                grid-template-columns: repeat($cols, 1fr);
                & > :not([class*="col"]) {
                    grid-column: span $cols
                }
            }
        }
    }
    .grid-#{$cols} {
        @for $span from 1 through $cols {
            $grid-slug: col-xs !default;
            .#{$grid-slug}-#{$span} {
                grid-column: span $span;
            }
            &.vertical-grid {
                .#{$grid-slug}-#{$span} {
                    grid-column: span 1;
                    grid-row: span $span;
                }
            }
        }
        @for $span from 1 through $cols {
            $offset-slug: col-xs-offset !default;
            .#{$offset-slug}-#{$span} {
                grid-column: span $span;
            }
            &.vertical-grid {
                .#{$offset-slug}-#{$span} {
                    grid-column: span 1;
                    grid-row: span $span;

                }
            }
        }
        @media (min-width: $tablet) {
            .row {
                justify-content: center;
            }
            .col-sm-0, .col-sm-offset-0 {
                display: none;
            }
            @for $span from 1 through $cols {
                $grid-slug: col-sm !default;
                .#{$grid-slug}-#{$span} {
                    grid-column: span $span;
                }
                &.vertical-grid {
                    .#{$grid-slug}-#{$span} {
                        grid-column: span 1;
                        grid-row: span $span;

                    }
                }
            }
            @for $span from 1 through $cols {
                $offset-slug: col-sm-offset !default;
                .#{$offset-slug}-#{$span} {
                    grid-column: span $span;
                }
                &.vertical-grid {
                    .#{$offset-slug}-#{$span} {
                        grid-column: span 1;
                        grid-row: span $span;
                    }
                }
            }
        }
        @media (min-width: $desktop-sm) {
            .row {
                justify-content: space-between;
            }
            .col-md-0, .col-md-offset-0 {
                display: none;
            }
            @for $span from 1 through $cols {
                $grid-slug: col-md !default;
                .#{$grid-slug}-#{$span} {
                    grid-column: span $span;
                }
                &.vertical-grid {
                    .#{$grid-slug}-#{$span} {
                        grid-column: span 1;
                        grid-row: span $span;
                    }
                }
            }
            @for $span from 1 through $cols {
                $offset-slug: col-md-offset !default;
                .#{$offset-slug}-#{$span} {
                    grid-column: span $span;
                }
                &.vertical-grid {
                    .#{$offset-slug}-#{$span} {
                        grid-column: span 1;
                        grid-row: span $span;
                    }
                }
            }
        }
        @media (min-width: $desktop-lg) {
            .col-lg-0, .col-lg-offset-0 {
                display: none;
            }
            @for $span from 1 through $cols {
                $grid-slug: col-lg !default;
                .#{$grid-slug}-#{$span} {
                    grid-column: span $span;
                }
                &.vertical-grid {
                    .#{$grid-slug}-#{$span} {
                        grid-column: span 1;
                        grid-row: span $span;
                    }
                }
            }
            @for $span from 1 through $cols {
                $offset-slug: col-lg-offset !default;
                .#{$offset-slug}-#{$span} {
                    grid-column: span $span;
                }
                &.vertical-grid {
                    .#{$offset-slug}-#{$span} {
                        grid-column: span 1;
                        grid-row: span $span;
                    }
                }
            }
        }
    }
}

@media (min-width: $mobile-min) and (max-width: $mobile-max) {
    .col-xs-0, .col-xs-offset-0 {
        display: none;
    }
}
