.grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    & > :not([class*="col"]) {
        width: 100%;
    }
    & > [class*="col"] {
        flex-grow: 1;
    }
    & .row {
        display: flex;
        flex-wrap: wrap;
        & > :not([class*="col"]) {
            width: 100%;
        }
    }
}

.container {
    & .row {
        margin: 0 -20px;
        &.no-margin {
            margin: 0;
        }
    }
    &.container-fluid {
        & .row {
            margin: 0 -30px;
            &.no-margin {
                margin: 0;
            }
        }
    }
}

@for $cols from 1 through 20 {
    /* Extra small devices (phones, less than 768px) */
    /* Column size */
    .grid-#{$cols} {
        @for $span from 1 through $cols {
            $grid-slug: col-xs !default;
            .#{$grid-slug}-#{$span} {
                width: calc((100% / #{$cols}) * #{$span})
            }
        }

        /* Offset size */

        @for $span from 1 through $cols {
            $offset-slug: col-xs-offset !default;
            .#{$offset-slug}-#{$span} {
                width: calc((100% / #{$cols}) * #{$span})
            }
        }

        /* Small devices (tablets, 768px and up) */
        @media (min-width: $tablet) {
            /* Column size */
            @for $span from 1 through $cols {
                $grid-slug: col-sm !default;
                .#{$grid-slug}-#{$span} {
                    width: calc((100% / #{$cols}) * #{$span})
                }
            }
            /* Offset size */

            @for $span from 1 through $cols {
                $offset-slug: col-sm-offset !default;
                .#{$offset-slug}-#{$span} {
                    width: calc((100% / #{$cols}) * #{$span})
                }
            }
            .row {
                justify-content: center;
            }
        }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: $desktop-sm) {
            .row {
                justify-content: space-between;
            }
            /* Column size */
            @for $span from 1 through $cols {
                $grid-slug: col-md !default;
                .#{$grid-slug}-#{$span} {
                    width: calc((100% / #{$cols}) * #{$span})
                }
            }
            /* Offset size */

            @for $span from 1 through $cols {
                $offset-slug: col-md-offset !default;
                .#{$offset-slug}-#{$span} {
                    width: calc((100% / #{$cols}) * #{$span})
                }
            }
        }

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: $desktop-lg) {
            /* Column size */
            @for $span from 1 through $cols {
                $grid-slug: col-lg !default;
                .#{$grid-slug}-#{$span} {
                    width: calc((100% / #{$cols}) * #{$span})
                }
            }
            /* Offset size */

            @for $span from 1 through $cols {
                $offset-slug: col-xs-offset !default;
                .#{$offset-slug}-#{$span} {
                    width: calc((100% / #{$cols}) * #{$span})
                }
            }
        }
    }
}

/* Case xs,sm,md,lg equal to 0 */

@media (min-width: $mobile-min) and (max-width: $mobile-max) {
    .col-xs-0, .col-xs-offset-0 {
        display: none;
    }
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
    .col-sm-0, .col-sm-offset-0 {
        display: none;
    }
}
@media (min-width: $desktop-sm-min) and (max-width: $desktop-sm-max) {
    .col-md-0, .col-md-offset-0 {
        display: none;
    }
}

@media (min-width: $desktop-lg-min){
    .col-lg-0, .col-lg-offset-0 {
        display: none;
    }
}
