$mobile: 692px;
$tablet: 768px;
$desktop-sm: 1024px;
$desktop-lg: 1366px;
 
// min width
$mobile-min: 1px;
$tablet-min: 768px;
$desktop-sm-min: 1024px;
$desktop-lg-min: 1366px;
 
// max width
$mobile-max: 767px;
$tablet-max: 1023px;
$desktop-sm-max: 1365px;
 